/**
 * @module          Accordion
 * @author          ISB
 * @copyright       2019-2024 ISB
 * @link            https://www.internet-service-berlin.de
 * @license         GNU General Public License 3 (see info.php)
 * @license_terms   see license
 *
 */

.spacer1{
    width: 100%;
    height: 10px;
}

.spacer2{
    width: 100%;
    height: 20px;
}

.spacer3{
    width: 100%;
    height: 30px;
}

.spacer4{
    width: 100%;
    height: 40px;
}

.info {
	padding-left: 0;
	background: none !important;
}

.ui.basic.button.blank  {
	border: 0px !important;
	box-shadow: none !important;
	margin: 0px !important;
	padding: 0px !important;	
}
